<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rifara.siklushidup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_hacktiv8"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_hacktiv8_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SiklusHidup"
        tools:targetApi="31">
        <activity
            android:name=".covid_tracker.CovidTrackerActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".retrofit.MainActivityJsonParser"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".parse_data_xml.ParseDataXmlActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".android_notification.MainActivityNotification"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".crud_sqlite.MainActivityCrud"
            android:exported="false" />
        <activity
            android:name=".crud_sqlite.NoteAddUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".background_process.MainActivityBackgroundProcess"
            android:exported="false" />
        <activity
            android:name=".score_keeper.MainActivityScoreKeeper"
            android:exported="false" />
        <activity
            android:name=".sesi_delapan.detail_page.DetailClubActivity"
            android:exported="false" />
        <activity
            android:name=".sesi_delapan.MainActivityRecyclerView"
            android:exported="false" />
        <activity
            android:name=".layouting.LayoutActivity"
            android:exported="false" />
        <activity
            android:name=".layouting.ConstraintLayout"
            android:exported="false" />
        <activity
            android:name=".layouting.LinearLayout"
            android:exported="false" />
        <activity
            android:name=".layouting.RelativeLayout"
            android:exported="false" />
        <activity
            android:name=".assignment_dua.CounterHomework"
            android:exported="false" />
        <activity
            android:name=".halaman_awal.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sesi_enam.SubmitActivity"
            android:exported="false" />
        <activity
            android:name=".intent.explicit.MoveActivity1"
            android:exported="false" />
        <activity
            android:name=".intent.explicit.MoveActivity2"
            android:exported="false" />
        <activity
            android:name=".intent.explicit.MoveActivity3"
            android:exported="false" />
        <activity
            android:name=".intent.explicit.ExplicitActivity"
            android:exported="false" />
        <activity
            android:name=".intent.implicit.ImplicitActivity"
            android:exported="false" />
        <activity
            android:name=".sesi_enam.FormAssignment"
            android:exported="false" />
        <activity android:name=".assignment_satu.LifeCycleActivity" />

        <receiver
            android:name=".android_notification.Receiver"
            android:exported="false">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>